body {
    /*background-image: url("../sfondo.jpg");*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../sfondo-trasparente-con-fulmine.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.product {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier();
}

.product:hover {
    transform: scale(1.05);
    box-shadow: white 2px 3px;
    border-color: white;
}