body {
    background-image: url("../Sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.product {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier();
}

.product:hover {
    transform: scale(1.05);
    box-shadow: white 2px 3px;
    border-color: white;
}